Package: com.nobody.imgui
Name: Critical Ops ImGui
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Critical Ops Mod menu
Maintainer: EvilBunny420
Author: EvilBunny420
Section: Tweaks
Homepage:
